body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(190, 149, 96);
  text-shadow:  2px 2px 3px black;;
  background-color: rgb(105, 144, 124);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: inline-flex;
  width: 100%;
  text-align: left;
  flex-direction: row;
  align-self: stretch;
}


div h3 {
  font-size: 20px;
  color: dodgerblue;
  background-color: #333;
  padding: 20px;
  margin: 0 auto;
  height: 70px;
  width: 29%;
  border-bottom: 2px solid rgb(190, 149, 96);
}
.budget{
  font-size: 20px;
  color: dodgerblue;
  /* background-color: #333; */
  /* padding: 20px; */
  margin: 0 auto;

  background-color: rgb(33, 69, 128);
  
}
#NewBudget{
  width:40%
}
.spent{
  background-color: rgb(87, 32, 32);
  
}
.updateBudget{
  
  color:white;
  background-color: black;
  justify-content: left;
  padding: 8px 15px;
  
}

.saveButton{
  background-color: rgb(174, 213, 184);
  position: left;
}
div p {
  margin-top: 4em;
  margin-bottom: 7em;
}

div a {
  background-color: dodgerblue;
  padding: 15px 75px;
  border-radius: 2px;
  text-decoration: none;
}

.expense-table{
  width: 85%;
  align-self: center;
}
.expense_item{
  width: 100%;
  font-size: large;
  background-color: lightgray;

}
.rm_exp{
  color:white;
  background-color:rgb(160, 21, 21);
  /* position: absolute;
  right: 0; */
  padding: 4px 10px;
  border-radius: 50%;
}
.ExpenseList{
  color:black;
  text-shadow: none;
}

#expense_name{
  color: rebeccapurple
}

.AddExpense{
  color:black;
  text-shadow: none;
  font-size: larger;
}
#ExpName{
  width:40%;
  height: 20px;
}
#ExpCost{
  width:20%;
  height: 20px;
}
.saveExpense{
  background-color: rgb(174, 213, 184);
  padding: 5px 15px
}
.span_exp{
  font-size: larger;
  
}